# Map API keys known from Echoes and provided by Echoes to GitLab tokens, 
# unknown from Echoes and set by the GitLab user.
#
# The map directive takes two parameters:
#
# - The first defines where to find the API key (provided by Echoes), in this case 
# in the `PRIVATE_TOKEN` HTTP header of the client request as captured in the `$http_PRIVATE_TOKEN` variable. 
#
# - The second parameter creates a new variable `$gitlab_token` and sets it to the 
# value of the second parameter which is the original GitLab token set by the user (unknown from Echoes).

map $http_PRIVATE_TOKEN $gitlab_token {
    default "";

    "<APIKEY_REPLACE_ME>" "glpat-<REPLACE_ME>";
}
